@import url("https://fonts.googleapis.com/css?family=Amarante&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  line-height: 1.4;
  height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #bbbbb8;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.centered {
  height: 100h;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navBar {
  text-align: "center";
  padding: "1rem 1.6rem";
  background: "#152331";
  background: "linear-gradient(45deg, #000000, #152331)";
}

.navTitle {
  color: white;
  text-align: center;
  font-family: "Amarante", cursive;
  padding: 1rem;
  background: #848484;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(223.88deg, #848484 8.89%, #000000 94.31%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(223.88deg, #848484 8.89%, #000000 94.31%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #bbbbb8;
}

.dataCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.buildingLinks {
  margin-top: 1rem !important;
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin: 3rem;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  height: 3rem;
}

.about {
  padding: 0 2rem;
}

.about p {
  font-size: 1.2rem;
}

.about h2 {
  margin: 0.5rem;
}

.card div {
  margin: 0px !important;
}
.gameDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameDetails h3 {
  margin: 2rem;
}

.title h1 {
  text-align: center;
}

.details {
  height: 100%;
  width: 100%;
  margin: 0 18rem;
}
